body {
  width: 100vw;
  height: 100vh;
}
nav#ftco-navbar {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex !important;
  justify-content: center;
  z-index: 7;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: white !important;
}
nav#ftco-navbar a {
  margin-left: 20px;
}
nav#ftco-navbar li {
  display: flex;
  align-items: center;
}
html {
  top: 0;
  left: 0;
  transform: unset;
}
section#home,
section#about {
  position: relative;
  height: 100vh !important;
}
.customSvg {
  display: flex !important;
  justify-content: center;
}
.iconColor {
  color: black;
}
.aboutMars {
  background-color: #edf1ff;
  height: 100vh;
  min-width: 50vw;
  position: absolute !important;
  right: 0;
}
#homeContainer {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.marginTop {
  margin-top: 23vh;
}
.page {
  margin-bottom: unset !important;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
  }
}
.mobile li {
  list-style: none;
  display: flex;
  align-items: center;
}
