html {
  font-size: 77%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 10rem; }
  .row [class="cell"] {
    float: left;
    width: 10vw;
    height: 10vw;
    border-radius: 2px; }
    .row [class="cell"] button {
      height: 100%;
      width: 100%;
      background-color: yellow; }
      .row [class="cell"] button.clicked {
        pointer-events: none;
        cursor: default;
        background-color: grey; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }
